  <div class="blog">
    <div class="row top">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb  w-100 ">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a routerLink="/Blog"> Blog</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lợi ích của quần áo cũ đem lại </li>
        </ol>
        </nav>
    </div>
    <div class="row bottom">
      <div class="col-4 text-center container ">
        <p style="font-size: 20px;font-weight:bold;color:#6B4932;">BÀI VIẾT MỚI NHẤT</p>
        <ng-container *ngFor="let b of blogs">
          <hr class="hr__style">
          <div class="row">
            <div class="col-3 img--blog">
              <a (click)="Detail(b)"><img class="img__blog" src="{{b.img}}" alt=""></a>
            </div>
            <div class="col"><p style="text-align: left;"><a (click)="Detail(b)" class="brown">{{b.title}}</a>
               <br> {{b.author}}
               <br>{{b.displayDate | date: 'dd/MM/yyyy'}}</p></div>
            <hr class="hr_style">
          </div>
        </ng-container>
      </div>


        <div class="col ">
          <h3 class="title__tinTuc"> {{blog.title}}</h3>
           <div class="title__right">
                <p>Người viết: {{blog.author}} lúc {{blog.displayDate| date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <div innerHTML="{{blog.description}}">

                </div>
           </div>
        </div>

    </div>

  </div>
