<div class="body" >
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
      <li class="breadcrumb-item"><a routerLink="/trangsp">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page" >{{product.TenSP}}</li>
    </ol>
</nav>
<div class="container">
  <div class="row " >
    <div class="col-7 row carousel carousel-dark slide" id="productDetailSlider"  data-bs-ride="carousel">

      <div class="col-2">
        <div id="items carousel-indicators">

          <ng-container *ngFor="let item of product.Hinhanh; let i=index">
            <div [ngClass]="{'active' :i==0}" class='item' [attr.data-bs-target]="'#productDetailSlider'" [attr.data-bs-slide-to]="i" [attr.aria-label]="'Slide ' + (i+1)" alt=''>
              <img  class='w-100' src="{{item}}" />
              <!-- <img class="w-100" src="{{product.Hinhanh[i]}}" /> -->
              <!-- <div class="w-100" style="background-image: url('{{ product.Hinhanh[i] }}'); height:95px; background-size:contain ; background-repeat: no-repeat;"></div> -->
              <!-- <img class="w-100" src='{{product.Hinhanh[i]}}' alt="" > -->
            </div>
          </ng-container>

        </div>
      </div>
      <div  class=" col-10" >
        <div class="carousel-inner">
            <div id="slider">

              <ng-container *ngFor="let item of product.Hinhanh; let i=index">
                <div [ngClass]="{'active' :i==0}"  class='carousel-item'  data-bs-interval='5000'>
                  <!-- <img class='d-block w-100'   src='{{product.Hinhanh[i]}}' alt="" > -->
                  <img src="{{item}}" class='d-block w-100' >
              <!-- <div class="d-block w-100" style="background-image: url('{{ product.Hinhanh[i] }}'); height:550px; background-size:cover;"></div> -->
                </div>
              </ng-container>

            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productDetailSlider" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productDetailSlider" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
      </div>

    </div>
    <div class="col-5 product-detial-container">
      <h1 id="product-name">
        {{product.TenSP}}
        <!-- Áo sơ mi nữ cao cấp thắt nơ nút phía trước màu trơn -->
      </h1>
      <h3 id="product-brand">
        {{product.Hang}}
        <!-- Dazy-Less -->
      </h3>
      <hr>
      <div id="product__price">

        <!-- <div *ngIf="product.Discount >0">   bỏ do không còn giảm giá mặc định
          <span class="product__discount" >-{{product.Discount}}%</span>
          <span class="product__price-current">{{(product.Price - product.Discount*product.Price/100).toLocaleString('vi-VN')}}đ</span>
          <span class="product__price-old">{{product.Price.toLocaleString('vi-VN')}}đ</span>
        </div> -->
        <!-- <div *ngIf="product.Discount ==0"> -->
          <span class="product__price-current">{{product.Price.toLocaleString('vi-VN')}}đ</span>
        <!-- </div> -->
      </div>
      <hr>
      <div class="product__size-container">
        <span class="product__size-label">Kích thước:</span>
        <button disabled class="product__size-size" id="product__size-size">{{product.Size}}</button>
      </div>
      <div class="product__quantity-container">
        <span class="product__quantity-label">Số lượng:</span>
        <div class="product__quantity-quantity ">
          <span id="minusProduct" (click)="handleMinus()"><i class="fa-solid fa-minus"></i></span>
          <input  type="number" min="1" name="amount" id="amount" value="{{a}}">
          <span id="plusProduct" (click)="handlePlus()"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
      <div class="product__btn-add-container" >
        <button class="product__btn-add" id="product__btn-add" (click)="addProduct();openDialog()">Thêm vào giỏ hàng</button>
        <span class="product__liked"><i class="fa-solid fa-heart"></i></span>
      </div>
      <mat-accordion >

      <div class="product__description-container">
          <mat-expansion-panel  class="product__description">
            <mat-expansion-panel-header class="product__description-header-container">
              <mat-panel-title class="product__description-header">
                Mô tả
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="product__description">
              <!-- <p style="margin: 3px;" class="product__description__line" *ngFor="let d of product.Mota">{{d}}</p> -->
              <p style="margin: 3px;" class="product__description__line" innerHTML="{{product.Mota}}"></p>
            </div>
          </mat-expansion-panel>
        <!-- </mat-accordion> -->
      </div>
      <div class="product__description-container">
        <!-- <mat-accordion > -->
          <mat-expansion-panel  class="product__description" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="product__description-header-container">
              <mat-panel-title class="product__description-header">
                Đánh giá độ mới
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="product__description">
              <p>Độ mới được đánh giá theo tiêu chuẩn quy định trước như sau:</p>
              <ul>
                <li><p>Quần áo còn tag, còn màu nguyên bản, không có chỗ hỏng, rách: mới 95% - 90%.</p></li>
                <li><p>Quần áo còn tag, còn màu nguyên bản, có 1-2 chỗ hỏng nhỏ:  mới 90% - 85%.</p></li>
                <li><p>Quần áo không còn tag, không còn màu nguyên bản, không/ 1-2 chỗ hỏng nhỏ: mới 85% - 80%.</p></li>
              </ul>
            </div>
          </mat-expansion-panel>
      </div>
    </mat-accordion>

  </div>
</div>
</div>
<!-- <div class="relative-product-container" style="overflow: hidden">
    <h2>Sản phẩm có liên quan</h2>
    <div class="contaier ">
        <div class=" home-product-item-wrapper">
          <div class="row " id="total_product">
            <div class="col-xl-2 col-lg-3 col-4 product"  *ngFor="let p of products">
              <button class="home-product-item w-100"  name="maSp" id="{{p.MaSP}}" value="{{p.MaSP}}" (click)="Detail(p)">
                <div class="home-product-item__img" style="background-image: url('./assets/Img/sanpham/{{ p.Hinhanh[0] }}')"></div>
                <h4 class="home-product-item__name">{{p.TenSP}}</h4>
                <div *ngIf="p.Discount==0">
                  <div class="home-product-item__price">
                    <span class="home-product-item__price-no-discount">{{p.Price.toLocaleString('vi-VN')}}đ</span>
                  </div>
                </div>
                <div *ngIf="p.Discount > 0">
                  <div class="home-product-item__price">
                    <span class="home-product-item__price-current">{{(p.Price - p.Discount*p.Price/100).toLocaleString('vi-VN')}}đ</span>
                    <span class="home-product-item__price-old">{{p.Price.toLocaleString('vi-VN')}}đ</span>
                  </div>
                </div>
                <div class="home-product-item__action">
                  <span class="home-product-item__like home-product-item__like--liked">
                    <i class="home-product-item__like-icon-emty fa-regular fa-heart"></i>
                    <i class="home-product-item__like-icon-fil fa-solid fa-heart"></i>
                  </span>
                </div>
                <div class="home-product-item__origin">
                  <div class="home-product-item__grand">{{p.Hang}}</div>
                    <div class="home-product-item__origin-name">Nhật bản</div>
                </div>
                <div class="home-product-item__favor">
                  <i class="fa-solid fa-check"></i>
                  <span>Yêu thích</span>
                </div>
                <div *ngIf="p.Discount > 0">
                  <div class="home-product-item__sale-off">
                    <div class="home-product-item__sale-off-percent">{{p.Discount}}%</div>
                    <div class="home-product-item__sale-off-label">GIẢM</div>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
    </div>
</div> -->
