.footer{
  width: 100%;
  /* padding: 20px 120px 0; */
  background-color: var(--white-color);
  padding: 20px 50px;
  /* position: relative;
  z-index: 2; */
}
ul{
  list-style-type: none;
  padding: 0;
}
.footer ul li {
  margin: 5px 0;
}
.footer__header{
  color: var(--main-color);
  margin: 20px 0;
  font-size: 2.5rem;
}
a{
  color: var(--text-color);
  font-size: 1.4rem;
}
span{
  font-size: 1.4rem;
}
.footer-col p{
  font-size: 1.4rem;
}
.footer__icon-wrap{
  margin: 10px;
}
.footer__icon{
  margin: 10px;
}
.logo   {
  max-width: 100%;
  max-height: 72.5px;
}
