<div class="container text-center">

  <h4> Thông tin giao hàng</h4>
<form action="" method="get">
<div class="col">
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"> </label>
    <textarea class="form-control" id="hoten" name="hoten" rows="1" placeholder="Họ và tên"></textarea>
  </div>
</div>
<div class="col">
<div class="row justify-content-start">
    <div class="col-8">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> </label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="tel" class="form-control" name="sdt" id="sdt" placeholder="Số điện thoại" >
      </div>
    </div>
  </div>
</div>
<div class="col">
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"> </label>
    <textarea class="form-control" id="hoten" name="hoten" rows="1" placeholder="Địa chỉ"></textarea>
  </div>
</div>
<div class="col">
<div class="row justify-content-start">
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> </label>

