<!-- <div style="background-color: #EEECEC;"></div> -->
<div class="container-fluid w-100 " >
  <div class="row">
    <div class="col-md-6 box blue">


  <div class="container  row w-100 body" height="2000px " ng-controller="myController">
    <ng-container [ngSwitch]="activeContent">


      <div *ngSwitchCase="'content1'">
    <div class=" col-6 delivery-info row text-center w-100">           <!-- **Bỏ thuộc tính trái-->
        <div class="gap2002"> GAP2002 </div>
        <div class="left--title"> Thông tin giao hàng</div >
        <br>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"> <b>Thông tin cơ bản</b> </li>
            <li class="breadcrumb-item active" aria-current="page">  Thông tin giao hàng  </li>
            <li class="breadcrumb-item active" aria-current="page">  Hoàn tất</li>
          </ol>
        </nav>
        </div>


        <div class="row text-center content--left">
          <form >
              <ng-container *ngFor="let a of myAddresss | keyvalue; let i=index">
                <ng-container *ngIf="a.value._id== defaultAddress._id">
                  <hr>
                  <div class="row dia-chi-2">
                    <div class="col" style="text-align: left;">
                      <mat-radio-button [checked]="selectedAddress == a.value" (change)="selectAddress(a.value)" >
                        <div style="color: #333;">
                          <p class="dia-chi-header"><span class="dia-chi-ten">{{ a.value.hovaten }}</span> | {{ a.value.phonenumber }}</p>
                          <p class="dia-chi-text">{{ a.value.diachicuthe }}, {{ a.value.ward }}, {{ a.value.district }}, {{ a.value.city }}</p>
                          <ng-container>
                            <p class="macdinh" >Mặc định</p>
                          </ng-container>
                        </div>
                      </mat-radio-button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let a of myAddresss | keyvalue; let i=index">
                <ng-container *ngIf="a.value._id != defaultAddress._id">
                  <hr>
                  <div class="row dia-chi-2">
                    <div class="col" style="text-align: left;">
                      <mat-radio-button [checked]="selectedAddress == a.value" (change)="selectAddress(a.value)">
                        <div style="color: #333;">
                          <p class="dia-chi-header"><span class="dia-chi-ten">{{ a.value.hovaten }}</span> | {{ a.value.phonenumber }}</p>
                          <p class="dia-chi-text">{{ a.value.diachicuthe }}, {{ a.value.ward }}, {{ a.value.district }}, {{ a.value.city }}</p>
                        </div>
                      </mat-radio-button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <hr>
              <div class="col text-center">
                <button type="button" class="btn btn-Themdiachi" (click)="showModal()">Thêm địa chỉ</button>
              </div>
              <div class="button--gui__position">
                <button class="button--showcontent button--gui w-100" (click)="showContent('content2')" >Tiếp tục đến Thông tin giao hàng</button>
               </div>
        </form>

        </div>




      </div>
      <div class="modal" [class.activate]="showmodal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
          <div class="modal__inner">
            <div class="container Them-dia-chi">
              <form [formGroup]="formAddress" (ngSubmit)="addressSubmit()">
                <br>
                <h1 style="text-align: center;">Địa chỉ mới</h1>
                <div class="row dong-1">
                  <div class="col">
                    <input matInput type="text" class="form-control" id="hovaten" placeholder="Họ và tên" formControlName="hovaten" required>
                    <mat-error *ngIf="formAddress.controls['hovaten'].invalid && isFormInvalid">{{getErrorNameMessage()}}</mat-error>
                  </div>
                  <div class="col">
                    <input matInput type="text" class="form-control" id="phonenumber" placeholder="Số điện thoại" formControlName="phonenumber" required>
                    <mat-error *ngIf="formAddress.controls['phonenumber'].invalid && isFormInvalid">{{getErrorPhoneMessage()}}</mat-error>
                  </div>
                </div>
                <div class="row dong-2">
                  <div class="col">
                    <select id="city" class="form-select form-select-sm mb-3" formControlName="city" (change)="onCityChange()" required>
                      <option value="">Chọn tỉnh/thành phố</option>
                      <option *ngFor="let city of cities" [value]="city.Name">{{ city.Name }}</option>
                    </select>
                    <mat-error *ngIf="formAddress.controls['city'].invalid && isFormInvalid">*Vui lòng chọn Tỉnh/Thành</mat-error>
                  </div>
                  <div class="col">
                    <select class="form-select form-select-sm mb-3" id="district" formControlName="district" (change)="onDistrictChange()" required>
                      <option value="">Chọn quận/huyện</option>
                      <option *ngFor="let district of districts" [value]="district.Name">{{ district.Name }}</option>
                    </select>
                    <mat-error *ngIf="formAddress.controls['district'].invalid && isFormInvalid">*Vui lòng chọn Quận/Huyện</mat-error>
                  </div>
                  <div class="col">
                    <select class="form-select form-select-sm mb-3" id="ward" formControlName="ward" (change)="onDistrictChange()" required>
                      <option value="">Chọn phường/ xã</option>
                      <option *ngFor="let w of Wards" [value]="w.Name">{{ w.Name }}</option>
                    </select>
                    <mat-error *ngIf="formAddress.controls['ward'].invalid && isFormInvalid">*Vui lòng chọn Phường/Xã</mat-error>
                  </div>
                </div>
                <div class="row dong-3">
                  <div class="col">
                    <input matInput type="text" class="form-control" id="diachicuthe" placeholder="Địa chỉ cụ thể" formControlName="diachicuthe" required>
                    <mat-error *ngIf="formAddress.controls['diachicuthe'].invalid && isFormInvalid">*Vui lòng nhập địa chỉ cụ thể</mat-error>
                  </div>
                </div>
                <div class="row dong-4">
                  <label for="" class="form-label">Loại địa chỉ:</label>
                  <div class="col">
                    <input type="radio" class="form-check-input" formControlName="addressType" value="Nhà riêng" checked>Nhà riêng
                  </div>
                  <div class="col">
                    <input type="radio" class="form-check-input" formControlName="addressType" value="Căn phòng">Văn phòng
                  </div>
                  <mat-error *ngIf="formAddress.controls['diachicuthe'].invalid && isFormInvalid">*Vui lòng chọn loại địa chỉ</mat-error>
                </div>
                <div class="row dong-6">
                  <div class="col">
                    <button type="button" class="col complete btn" (click)="hideModal()">Trở lại</button>
                  </div>
                  <div class="col">
                    <button type="button" type="submit" class="btn complete">Hoàn thành</button>
                  </div>
                </div>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>



<!-- -------------------------------------------------TRANG THÔNG IN GIAO HÀNG ----------PAGE-2-------------  -->

      <div *ngSwitchCase="'content2'" >
        <div class=" col-6  delivery-info row text-center w-100" style="margin-bottom: 15px;">      <!-- **Bỏ thuộc tính trái-->
          <div class="gap2002"> GAP2002 </div>
          <div class="left--title"> Thông tin giao hàng</div>
          <br>
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item active" aria-current="page" > Thông tin cơ bản </li>
              <li class="breadcrumb-item " > <b> Thông tin giao hàng</b>  </li>
              <li class="breadcrumb-item active" aria-current="page">  Hoàn tất </li>
            </ol>
          </nav>
          </div>


          <div class="content--left ">
          <div class="box__border ">             <!-- **Bỏ thuộc tính trái-->
            <div class="form-check" >
              <input class="form-check-input" style="padding-left: 10px;" (change)="showText()" type="radio" name="deliveryPrice"  id="deliveryPrice1"  value="Giao hàng trong tỉnh" [(ngModel)]="selectedPrice" [(ngModel)]="selectedOption" [checked]="selectedProvince === 'Thành phố Hồ Chí Minh'" disabled >
      <label class="form-check-label w-100" for="deliveryPrice2">
      <div class="row" >
        <div class="col">Giao hàng trong tỉnh</div>
        <div class="col color--price" >20,000 đ</div>
      </div>


              </label>
            </div> <hr>
            <div class="form-check" >
              <input class="form-check-input" (change)="showText()" type="radio" name="deliveryPrice"  id="deliveryPrice2" value="Giao hàng ngoài tỉnh" [(ngModel)]="selectedPrice" [(ngModel)]="selectedOption" disabled [checked]="selectedProvince !== 'Thành phố Hồ Chí Minh'" >
      <label class="form-check-label w-100" for="deliveryPrice1">


        <div class="row ">
          <div class="col">Giao hàng ngoài tỉnh </div>
          <div class="col color--price" >40,000 đ</div>
        </div>
      </label>
            </div>
          </div>
          <br>
            <div class="box__border">
            <div class="form-check">
              <input class="form-check-input" type="radio" checked name="howtopay" id="howToDelivery" value="Thanh toán khi nhận hàng (COD)" [(ngModel)]="selectedPay" (change)="showPay($event)">
              <label class="form-check-label" for="howtopay">
              Thanh toán khi nhận hàng (COD)
              </label>


            </div> <hr>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="howtopay" id="howToDelivery" value="Chuyển khoản qua ngân hàng" [(ngModel)]="selectedPay" (change)="showPay($event)" >
              <label class="form-check-label" for="howtopay">
                Chuyển khoản qua ngân hàng
              </label>
            </div>
            <div>   <img *ngIf="selectedPay === 'Chuyển khoản qua ngân hàng' " src="assets\Img\thanhtoan-stk.jpg" ></div>
            <hr>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="howtopay" id="howToDelivery" value="Ví điện tử" [(ngModel)]="selectedPay" (change)="showPay($event)">
              <label class="form-check-label" for="howtopay">
                Ví điện tử
              </label>
            </div>
            <div>  <img *ngIf="selectedPay === 'Ví điện tử' " src="\assets\Img\thanh toán-vdt.jpg" ></div>
          </div>


          <button (click)="showContent('content1')" class="button--showcontent button--gui w-100"  >Quay về Thông tin cơ bản</button>
          <button (click)="showContent('content3');completeOrder()" class="button--showcontent button--gui w-100"  >Hoàn tất đơn hàng</button>
  </div>


      </div>






<!-- ---------------------------------TRANG HOÀN TẤT-------PAGE 3---------------  -->

      <div *ngSwitchCase="'content3'">
        <div class=" col-6  delivery-info row text-center w-100">     <!-- **Bỏ thuộc tính trái-->
          <div class="gap2002"> GAP2002 </div>
          <div class="left--title"> Thông tin giao hàng</div>
          <br>
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item active" aria-current="page"> Thông tin cơ bản </li>
              <li class="breadcrumb-item active " aria-current="page"> Thông tin giao hàng </li>
              <li class="breadcrumb-item " > <b> Hoàn tất</b> </li>
            </ol>
          </nav>
        </div>
            <div class="content--left">                       <!-- **Bỏ thuộc tính trái-->
          <div class="container text-center " style="margin-bottom: 20px;">
            <!-- icon o day -->
            <br>
            <div class="tittle--thanks">  Đặt hàng thành công </div>
          </div>


          <div style="text-align: center;"> <b>Mã đơn hàng:</b>  {{order._id}} </div> <br>


          <div class="text-center box__border" style="margin-bottom: 20px;">        <!-- **Bỏ thuộc tính trái-->
           <div><b> Thông tin đơn hàng</b> </div> <br>
            <div class="row ">
                <div class="col thongtin" style="word-wrap: break-word;" >
                  <b>Họ và tên: </b> {{selectedAddress.hovaten}} <br>
                  <b>Email:</b> {{account.email}}  <br>
                  <b>Số điện thoại:</b> {{selectedAddress.phonenumber}} <br>
                  <b>Tỉnh / Thành phố: </b>
                   <div class="col thongtin"> {{ selectedAddress.city }} </div>     <!-- **Bỏ thuộc tính trái-->
                  <b>Quận / Huyện: </b> {{selectedAddress.district}}  <br>
                  <b>Địa chỉ chi tiết:</b> {{selectedAddress.diachicuthe}}  <br>
                </div>
                <div class="col thongtin__textleft">                  <!-- **Bỏ thuộc tính trái-->
                  <div> <b> Giao hàng: </b></div> <span id="message">{{selectedOption}}</span> <br>
                  <div> <b> Phương thức thanh toán: </b></div> <span id="message">{{selectedPay}}</span> <br>
                </div> <br>
                <div class="title--thanks">  Cám ơn bạn đã mua hàng! </div>
            </div>
          </div>

          <button class="button--muahang w-100" [routerLink]="['']" > Tiếp tục mua hàng </button>
          </div>
      </div>
    </ng-container>
  </div>
 </div>





<!-- ----------------------------------BẢNG TÍNH TIỀN BÊN PHẢI-----------------------  -->
  <div class="col-md-6 box wrap pt-3 pb-3" height="2000px " style="margin-bottom: 20px; margin-top: 100px;">
  <div class="table-container" style=" padding: 0px 10px 0px 10px;">
    <table align="center" class="table-hover"  >
      <thead>
        <tr >
          <th>Ảnh </th>
          <th>Mô Tả</th>
          <th style="word-wrap: break-word; max-width: 35px;">Số lượng</th>
          <th style="word-wrap: break-word; max-width: 80px;">Giá </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let p of tempOrder;let i=index">

          <td style="word-wrap: break-word; width: 150px;" >
            <img style="min-width: 30px;" src="{{p.Hinhanh[0]}}" alt=''>
          </td>
          <td style="word-wrap: break-word; max-width: 50px;" >{{p.TenSP}}</td>
          <td style="word-wrap: break-word; max-width: 10px;">{{p.quantity}}</td>
          <td style="word-wrap: break-word; max-width: 80px;">
            <ng-container *ngIf="p.Discount>0">
              <div class='header__cart-item__price-current'> <span class="header__cart-item__price-old">{{(p.Price).toLocaleString('vi-VN')}}<u>đ</u></span> </div>
              <div><b>Tổng: </b>{{p.total.toLocaleString('vi-VN')}}<u>đ</u></div>
            </ng-container>
            <ng-container *ngIf="p.Discount==0">
              <div class='header__cart-item__price-current'>{{((p.Price)).toLocaleString('vi-VN')}} <u>đ</u></div>
              <div><b>Tổng:</b> {{p.total.toLocaleString('vi-VN')}}<u>đ</u></div>
            </ng-container>
          </td>
        </tr>

        <tr>
          <td style="text-align: left;padding-left: 10px;">Tạm tính</td>
          <td colspan="3" style="text-align: right"><h3 style="color: red; text-align: right; padding-right: 20px;">{{pay.toLocaleString('vi-VN')}}<u>đ</u></h3></td>
        </tr>

        <tr>
          <td style="text-align: left;padding-left: 10px; ">Phí vận chuyển</td>
<!-- **Bỏ thuộc tính trái-->         <td colspan="3" style="color: red; text-align: right;"> <h3 style="color: red; text-align: right; padding-right: 20px;">{{totalShip.toLocaleString('vi-VN')}}<u>đ</u></h3></td>
        </tr>

        <tr>
          <td style="text-align: left;padding-left: 10px; "  >Sử dụng coupon</td>
          <td colspan="4" style="color: red; text-align: right;">
            <ng-container *ngIf="noDiscount==true">
              <span > Bạn không thể áp dụng voucher với đơn hàng đã có sản phẩm khuyến mãi</span>
            </ng-container>
            <ng-container *ngIf="noDiscount==false">
              <Button style=" width: 100%;" class="button--gui" (click)="chooseVoucher()"> Sử dụng </Button>
            </ng-container>
          </td>
        </tr>
        <tr >
          <td style="text-align: left; padding-left: 10px; padding-bottom: 30px;" >Tổng cộng</td>
 <!-- **Bỏ thuộc tính trái-->          <td colspan="3" style="color: red; text-align: right; padding-bottom: 30px;"> <b style="color: red; text-align: right; padding-right: 20px ;">{{tong.toLocaleString('vi-VN')}}<u>đ</u></b></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

  </div>




</div>

  <div class="modal" [class.activate]="showchooseVoucher">
    <div class="modal__overlay" (click)="closechooseVoucher()">
      <div class="row  voucher-container">
        <ng-container  *ngFor="let c of userCoupon">
          <div class="voucher col-4">
            <div class="row voucher-header">
              <img src="{{c.Hinhanh}}" alt="voucher" width="100%" height="100%">
            </div>
            <div class="row voucher-body">
              <h4>Mã giảm giá: {{c.TenCoupon}}</h4>
              <p [innerHTML]="c.Noidung"></p>
              <p>Hạn sử dụng</p>
            <p> {{c.Ngaybatdau | date: 'dd/MM/yyyy'}} - {{c.Ngayketthuc | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="  text-center" >
              <button class=" voucher-button" (click)="applyDiscount(c)">Apply code</button>
            </div>
          </div>

        </ng-container>

      </div>
    </div>
  </div>
