<div class="input-otp-container">
  <div class="input-otp-header">
      Vui lòng nhập mã OTP để xác minh </div>
      <div class="text">Mã xác minh của bạn sẽ được gửi bằng tin nhắn đến <br>
      <span id="phoneNumber">000000000</span></div>
<!-- <form action="./dangkythanhcong.html" method="get"  data-autosubmit="false" autocomplete="off"> -->
  <div class="mb-6 text-center">
      <div id="otp" class="flex justify-center">
      <input class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline" type="number" id="first" maxlength="1" autofocus required/>
      <input class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline" type="number" id="second" maxlength="1" pattern="[0-9]*" required/>
      <input class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline" type="number" id="third" maxlength="1" required/>
      <input class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline" type="number" id="fourth" maxlength="1" required/>
      <input class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline" type="number" id="fifth" maxlength="1" required/>
      <input class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline" type="number" id="sixth" maxlength="1" required/>
      </div>
  </div>
  <div >Bạn vẫn chưa nhận được?
      <a href="#">Gửi lại</a>
  </div>
  <div class="button">
  <!-- <button type="submit">Xác nhận</button> -->
      <button onclick="Verify()">Xác nhận</button>
  </div>
<!-- </form> -->
</div>
