<div class="input-phonenumber-container">
  <div class="input-phonenumber-header">
      <h1>Đặt lại mật khẩu</h1>
      <div>Nhập số điện thoại để nhận mã OTP</div>
  </div>
  <form class="input-phonenumber-form">
      <div class="form-item">
          <span class="form-item-icon"><i class="fa-solid fa-phone"></i></span>
          <input type="text"  placeholder="Nhập số điện thoại" id="phonenumber" autofocus required>
      </div>
      <button type="submit"><a routerLink="otp_forgetPass"> Gửi mã</a></button>
  </form>
</div>
