<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-KJL0HmxMYbUCwuV21j+TDeO+pV7r0KT27ipC6e2MwY+tCkJB1z6JX9j+swzNO87H/SN/pLOe5S/jMEvruox8w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<nav aria-label="breadcrumb ">
  <ol class="breadcrumb w-100">
    <li class="breadcrumb-item">
      <a routerLink="">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
  </ol>
</nav>
<div class=" my-body__container">
  <div class="row myaccount-body">
    <div class="col-4 myaccount-body-left text-center">
      <div class="row myaccount-body-left-1 ">
        <div class="col icon-account">
          <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 32 32" style="color: #d2beb4;">
            <path fill="currentColor" d="M16 8a5 5 0 1 0 5 5a5 5 0 0 0-5-5Z"></path>
            <path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2Zm7.992 22.926A5.002 5.002 0 0 0 19 20h-6a5.002 5.002 0 0 0-4.992 4.926a12 12 0 1 1 15.985 0Z"></path>
          </svg>
        </div>
        <div class="col icon-account-content">
          <p id="accName">{{account.username}}</p>
          <a (click)="showMy(true,false,false,false);fixProfile();showMyAccount(true,false,false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" style="color: #d2beb4;">
              <path fill="currentColor" d="m19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575t1.412.575l1.4 1.4q.575.575.6 1.388t-.55 1.387L19.3 8.925ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6l4.25 4.25Z"></path>
            </svg> Sửa hồ sơ </a>
        </div>
      </div>
      <div class="col myaccount-body-left-2">
        <div class="tai-khoan-cua-toi">
          <ul>
            <li>
              <button type="button" class="btn btn__myaccount" (click)="showMy(true,false,false,false)"> Tài khoản của tôi </button>
            </li>
            <ul class="btn-content">
              <li class="content-detail hoso" (click)="showMyAccount(true,false,false);showMy(true,false,false,false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" style="color: #d2beb4;">
                  <path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4Z"></path>
                </svg>Hồ sơ
              </li>
              <li class="content-detail diachi" (click)="showMyAccount(false,true,false);showMy(true,false,false,false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" style="color: #d2beb4;">
                  <path fill="currentColor" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7Z"></path>
                </svg>Địa chỉ
              </li>
              <li class="content-detail doi-mat-khau" (click)="showMyAccount(false,false,true);showMy(true,false,false,false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" style="color: #d2beb4;">
                  <path fill="currentColor" d="M12 22q-3.475-.875-5.738-3.988T4 11.1V5l8-3l8 3v6.1q0 3.8-2.263 6.913T12 22Zm0-2.1q2.425-.75 4.05-2.963T17.95 12H12V4.125l-6 2.25v5.175q0 .175.05.45H12v7.9Z"></path>
                </svg>Đổi mật khẩu
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="col myaccount-body-left-3">
        <div class="don-hang">
          <ul>
            <li>
              <button type="button" class="btn btn__donhang" (click)="showMy(false,true,false,false)"> Đơn hàng </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col myaccount-body-left-4">
        <div class="thong-bao">
          <ul>
            <li>
              <button type="button" class="btn btn__thongbao" (click)="showMy(false,false,true,false)"> Thông báo </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col myaccount-body-left-5">
        <div class="kho-voucher">
          <ul>
            <li>
              <a>
                <button type="button" class="btn" (click)="showMy(false,false,false,true)"> Kho voucher </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col myaccount-body-left-6">
        <div class="dang-xuat">
          <ul>
            <li>
              <button type="button" class="btn" onclick="dangxuat()"> Đăng xuất </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8 myaccount-body-right">
      <!-- Hồ sơ của tôi -->
      <div class="body__container--hosocuatoi" [class.activate]="myProfile">
        <div container text-center>
          <div class="myaccount-body-right-ho-so-cua-toi" [class.activate]="myProfileP">
            <h2 style="font-size:32px ;text-align: center;">Hồ sơ của tôi</h2>
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row hs">
                <mat-form-field class="example-full-width">
                  <mat-label>Tên đăng nhập</mat-label>
                  <input matInput disabled value="{{account.username}}">
                </mat-form-field>
              </div>
              <div class="row hs">
                <div class="col">
                  <mat-form-field appearance="fill" class="exemple-form-field">
                    <mat-label>Họ và tên</mat-label>
                    <input matInput placeholder="Nhập họ và tên" [readonly]="!allowFix" [formControl]="name" required #nameInput>
                    <mat-error *ngIf="name.invalid">{{getErrorNameMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row hs">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Nhập Email" [readonly]="!allowFix" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="row hs">
                <mat-form-field class="example-full-width">
                  <mat-label>Số điện thoại</mat-label>
                  <input [formControl]="phoneNumber" matInput [readonly]="!allowFix" placeholder="Nhập số điện thoại">
                  <mat-error *ngIf="phoneNumber.invalid">{{getErrorPhoneMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="row hs">
                <section class="example-section">
                  <mat-hint style="font-size: 1.6rem;">Giới tính:</mat-hint>
                  <mat-radio-group aria-label="Select an option" [formControl]="gender">
                    <mat-radio-button value="Nam">
                      <span style="color: black;">Nam</span>
                    </mat-radio-button>
                    <mat-radio-button value="Nữ">
                      <span style="color: black;">Nữ</span>
                    </mat-radio-button>
                    <mat-radio-button value="Khác">
                      <span style="color: black;">Khác</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
              <div class="row hs">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Ngày sinh</mat-label>
                  <input matInput [matDatepicker]="picker" [formControl]="dob" required [readonly]="!allowFix">
                  <mat-error *ngIf="dob.invalid">{{getErrorDoBMessage()}}</mat-error>
                  <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="!allowFix"></mat-datepicker-toggle>
                  <mat-datepicker #picker [disabled]="!allowFix"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="row ">
                <div class="col text-center">
                  <button type="submit" [disabled]="registerForm.invalid" class="btn luu2 " [class.activate]="allowFix"> Lưu </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Địa chỉ của tôi -->
        <div class="container address" [class.activate]="myAddress">
          <div class="row">
            <div class="col-8 dia-chi-cua-toi">
              <h1>Địa chỉ của tôi</h1>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-Themdiachi" (click)="showModal()">Thêm địa chỉ</button>
            </div>
          </div>
          <ng-container *ngFor="let a of myAddresss | keyvalue;let i=index">
            <hr>
            <div class="row dia-chi-2">
              <div class="col">
                <p class="dia-chi-header">
                  <span class="dia-chi-ten">{{ a.value.hovaten }}</span> | {{ a.value.phonenumber }}
                </p>
                <p class="dia-chi-text">{{ a.value.diachicuthe }}, {{ a.value.ward }}, {{ a.value.district }}, {{ a.value.city }}</p>
                <ng-container>
                  <p class="macdinh" *ngIf="a.value._id== defaultAddress._id">Mặc định</p>
                </ng-container>
              </div>
              <div class="col-4">
                <!-- <p class="cap-nhat" style="cursor: pointer;">Cập nhật</p> -->
                <p class="xoa" style="cursor: pointer;" (click)="deleteA(a.value._id)">Xóa</p>
                <p class="setup" (click)="setDefault(a.value._id)">Thiết lập mặc định</p>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- Modal layout -->
        <div class="modal" [class.activate]="showmodal">
          <div class="modal__overlay"></div>
          <div class="modal__body">
            <div class="modal__inner">
              <!-- Form thêm địa chỉ mới -->
              <div class="container Them-dia-chi">
                <form [formGroup]="formAddress" (ngSubmit)="addressSubmit()">
                  <br>
                  <h1 style="text-align: center;">Địa chỉ mới</h1>
                  <div class="row dong-1">
                    <div class="col">
                      <input matInput type="text" class="form-control" id="hovaten" placeholder="Họ và tên" formControlName="hovaten" required>
                      <mat-error *ngIf="formAddress.controls['hovaten'].invalid && isFormInvalid">{{getErrorNameMessage()}}</mat-error>
                    </div>
                    <div class="col">
                      <input matInput type="text" class="form-control" id="phonenumber" placeholder="Số điện thoại" formControlName="phonenumber" required>
                      <mat-error *ngIf="formAddress.controls['phonenumber'].invalid && isFormInvalid">{{getErrorPhoneMessage()}}</mat-error>
                    </div>
                  </div>
                  <div class="row dong-2">
                    <div class="col">
                      <select id="city" class="form-select form-select-sm mb-3" formControlName="city" (change)="onCityChange()" required>
                        <option value="">Chọn tỉnh/thành phố</option>
                        <option *ngFor="let city of cities" [value]="city.Name">{{ city.Name }}</option>
                      </select>
                      <mat-error *ngIf="formAddress.controls['city'].invalid && isFormInvalid">*Vui lòng chọn Tỉnh/Thành</mat-error>
                    </div>
                    <div class="col">
                      <select class="form-select form-select-sm mb-3" id="district" formControlName="district" (change)="onDistrictChange()" required>
                        <option value="">Chọn quận/huyện</option>
                        <option *ngFor="let district of districts" [value]="district.Name">{{ district.Name }}</option>
                      </select>
                      <mat-error *ngIf="formAddress.controls['district'].invalid && isFormInvalid">*Vui lòng chọn Quận/Huyện</mat-error>
                    </div>
                    <div class="col">
                      <select class="form-select form-select-sm mb-3" id="ward" formControlName="ward" (change)="onDistrictChange()" required>
                        <option value="">Chọn phường/ xã</option>
                        <option *ngFor="let w of Wards" [value]="w.Name">{{ w.Name }}</option>
                      </select>
                      <mat-error *ngIf="formAddress.controls['ward'].invalid && isFormInvalid">*Vui lòng chọn Phường/Xã</mat-error>
                    </div>
                  </div>
                  <div class="row dong-3">
                    <div class="col">
                      <input matInput type="text" class="form-control" id="diachicuthe" placeholder="Địa chỉ cụ thể" formControlName="diachicuthe" required>
                      <mat-error *ngIf="formAddress.controls['diachicuthe'].invalid && isFormInvalid">*Vui lòng nhập địa chỉ cụ thể</mat-error>
                    </div>
                  </div>
                  <div class="row dong-4">
                    <label for="" class="form-label">Loại địa chỉ:</label>
                    <div class="col">
                      <input type="radio" class="form-check-input" formControlName="addressType" value="Nhà riêng" checked>Nhà riêng
                    </div>
                    <div class="col">
                      <input type="radio" class="form-check-input" formControlName="addressType" value="Căn phòng">Văn phòng
                    </div>
                    <mat-error *ngIf="formAddress.controls['diachicuthe'].invalid && isFormInvalid">*Vui lòng chọn loại địa chỉ</mat-error>
                  </div>
                  <!-- <div class="row form-check form-switch dong-5"><div class="col"><input class="form-check-input" type="checkbox" id="mySwitch" formControlName="IsDefault" value="yes"><label class="form-check-label" for="mySwitch">Đặt làm địa chỉ mặc định</label></div></div> -->
                  <div class="row dong-6">
                    <div class="col">
                      <button type="button" class="col complete btn" (click)="hideModal()">Trở lại</button>
                    </div>
                    <div class="col">
                      <button type="button" type="submit" class="btn complete">Hoàn thành</button>
                    </div>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Đổi mật khẩu -->
        <div style="display: none" class="container body__container-doi-mat-khau" [class.activate]="changePass">
          <h1 style="text-align: center;">Đổi mật khẩu</h1>
          <div class="example-input-wrapper" style="display:none">
            <label for="duration">Animation duration:</label>
            <input id="duration" value="2000" type="number" min="0" step="70" #duration>
          </div>
          <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration.value">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Nhập mật khẩu cũ</ng-template>
                <mat-form-field>
                  <input noDiacritics matInput [type]="hide2 ? 'password' : 'text'" formControlName="firstCtrl" required placeholder="Nhập lại mật khẩu của bạn">
                  <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-error *ngIf="logOldPasswword || firstFormGroup.controls['firstCtrl'].invalid">*Mật khẩu không chính xác, vui lòng nhập lại mật khẩu</mat-error>
                <div>
                  <button mat-button (click)="checkOldPass()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Nhập mật khẩu mới</ng-template>
                <mat-form-field>
                  <input noDiacritics matInput [type]="hide1 ? 'password' : 'text'" formControlName="secondCtrl" required placeholder="Nhập mật khẩu mới của bạn">
                  <mat-error>{{checkNewPassRes}}</mat-error>
                  <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div>
                  <!-- <button mat-button matStepperPrevious>Back</button> -->
                  <button mat-button (click)="checkNewPass()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Nhập lại mật khẩu mới</ng-template>
                <mat-form-field>
                  <input noDiacritics matInput [type]="hide ? 'password' : 'text'" formControlName="thirdCtrl" required placeholder="Nhập lại mật khẩu mới của bạn">
                  <mat-error *ngIf="thirdFormGroup.invalid">{{checkReNewPassRes}}</mat-error>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="checkReNewPass()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="fourFormGroup">
              <form [formGroup]="fourFormGroup">
                <ng-template matStepLabel>Nhập mã OTP được gửi qua số điện thoại của bạn</ng-template>
                <mat-form-field>
                  <input noDiacritics matInput formControlName="fourCtrl" required placeholder="Nhập mã OTP của bạn">
                  <mat-error *ngIf="fourFormGroup.invalid">{{checkOTPRes}}</mat-error>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="checkOTP()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Hoàn thành</ng-template> Bạn đã đổi mật khẩu thành công
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>
      <!--Order  -->
      <div style="display: none;" class="body__container--Order" [class.activate]="myOrder">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
          <mat-tab label="Chờ xác nhận">
            <!-- Chờ xác nhận -->
            <ng-container *ngIf=" waitConfirmOrder.length>0">
              <!-- <button (click)="log()">Log</button> -->
              <div class="cover-order-container">
                <div class="order-container">
                  <ng-container *ngFor="let order of waitConfirmOrder;let i = index">
                    <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
                    <div class="row" style="padding: 8px;">
                      <div class="col">
                        Mã đơn hàng: {{order._id}} <br> <br>
                        Tên người nhận:{{ waitConfirmOrderAddress[i]?.[0]?.hovaten}} <br>
                        Số điện thoại: {{ waitConfirmOrderAddress[i]?.[0]?.phonenumber}}
                      </div>
                      <div class="col">
                        Địa chỉ: {{waitConfirmOrderAddress[i]?.[0]?.diachicuthe}}
                        ,{{waitConfirmOrderAddress[i]?.[0]?.ward}}
                        ,{{waitConfirmOrderAddress[i]?.[0]?.district}}
                        ,{{waitConfirmOrderAddress[i]?.[0]?.city}}
                      </div>
                    </div>
                    <ng-container *ngFor="let p of waitConfirmOrderDetails[i];let j = index">
                      <!-- <button (click)="log(p)">Log</button> -->
                      <div class="row">
                        <div class="col">
                          <p style="text-align: left;margin-left: 5%;">{{p.Hang}}</p>
                        </div>
                      </div>
                      <hr class="hr_style">
                      <div class="row" style="align-items: center">
                        <div class="col-2">
                          <img class="img-order" src="./assets/Img/sanpham/{{p.Hinhanh[0]}}" alt="">
                        </div>
                        <div class="col information" style="padding-left: 20px;">
                          <p>{{p.TenSP}}</p>
                          <p>Số lượng: {{order.orderItems[j].qty}} </p>
                        </div>
                        <div class="col price">
                          <ng-container *ngIf=""> chờ cái Discount </ng-container>
                        </div>
                      </div>
                      <hr class="hrr__style">
                    </ng-container>
                    <ng-container></ng-container>
                    <div class="row total__bill">
                      <p>Tổng số tiền: <span>{{order.total.toLocaleString('vi-VN')}}
                          <sup>đ</sup>
                        </span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col"></div>
                      <!-- <div class="col"><button type="button" class="btn btn-view">Xem chi tiết đơn hàng</button></div> -->
                      <div class="col">
                        <button type="button" (click)="updateOrder(order)" class="btn btn-view">Hủy đơn hàng</button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf=" waitConfirmOrder.length==0">
              <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
              <div class=" text-center chua-co-don-hang">
                <p>Chưa có đơn hàng nào </p>
              </div>
            </ng-container>
          </mat-tab>
          <mat-tab label="Chờ lấy hàng">
            <!-- Chờ lấy hàng -->
            <ng-container *ngIf="waitPickUp.length>0">
              <div class="cover-order-container">
                <div class="order-container">
                  <ng-container *ngFor="let order of waitPickUp;let i = index">
                    <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
                    <div class="row" style="padding: 8px;">
                      <div class="col">
                        Mã đơn hàng: {{order._id}} <br> <br>
                        Tên người nhận:{{ waitPickUpAddress[i]?.[0]?.hovaten}} <br>
                        Số điện thoại: {{ waitPickUpAddress[i]?.[0]?.phonenumber}}
                      </div>
                      <div class="col">
                        Địa chỉ: {{waitPickUpAddress[i]?.[0]?.diachicuthe}}
                        ,{{waitPickUpAddress[i]?.[0]?.ward}}
                        ,{{waitPickUpAddress[i]?.[0]?.district}}
                        ,{{waitPickUpAddress[i]?.[0]?.city}}
                      </div>
                    </div>
                    <ng-container *ngFor="let p of waitPickUpDetails[i];let j = index">
                      <!-- <button (click)="log(p)">Log</button> -->
                      <div class="row">
                        <div class="col">
                          <p style="text-align: left;margin-left: 5%;">{{p.Hang}}</p>
                        </div>
                      </div>
                      <hr class="hr_style">
                      <div class="row" style="align-items: center">
                        <div class="col-2">
                          <img class="img-order" src="./assets/Img/sanpham/{{p.Hinhanh[0]}}" alt="">
                        </div>
                        <div class="col information" style="padding-left: 20px;">
                          <p>{{p.TenSP}}</p>
                          <p>Số lượng: {{order.orderItems[j].qty}} </p>
                        </div>
                        <div class="col price">
                          <ng-container *ngIf=""> chờ cái Discount </ng-container>
                        </div>
                      </div>
                      <hr class="hrr__style">
                    </ng-container>
                    <ng-container></ng-container>
                    <div class="row total__bill">
                      <p>Tổng số tiền: <span>{{order.total.toLocaleString('vi-VN')}}
                          <sup>đ</sup>
                        </span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col"></div>
                      <!-- <div class="col"><button type="button" class="btn btn-view">Xem chi tiết đơn hàng</button></div> -->
                      <div class="col">
                        <button type="button" (click)="updateOrder(order)" class="btn btn-view">Hủy đơn hàng</button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="waitPickUp.length==0">
              <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
              <div class=" text-center chua-co-don-hang">
                <p>Chưa có đơn hàng nào đang chờ lấy hàng</p>
              </div>
            </ng-container>
          </mat-tab>
          <mat-tab label="Đang giao">
            <!-- Đang giao -->
            <ng-container *ngIf="inDelivering.length>0">
              <div class="cover-order-container">
                <div class="order-container">
                  <ng-container *ngFor="let order of inDelivering;let i = index">
                    <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
                    <div class="row" style="padding: 8px;">
                      <div class="col">
                        Mã đơn hàng: {{order._id}} <br> <br>
                        Tên người nhận:{{ inDeliveringAddress[i]?.[0]?.hovaten}} <br>
                        Số điện thoại: {{ inDeliveringAddress[i]?.[0]?.phonenumber}}
                      </div>
                      <div class="col">
                        Địa chỉ: {{inDeliveringAddress[i]?.[0]?.diachicuthe}}
                        ,{{inDeliveringAddress[i]?.[0]?.ward}}
                        ,{{inDeliveringAddress[i]?.[0]?.district}}
                        ,{{inDeliveringAddress[i]?.[0]?.city}}
                      </div>
                    </div>
                    <ng-container *ngFor="let p of inDeliveringDetails[i];let j = index">
                      <!-- <button (click)="log(p)">Log</button> -->
                      <div class="row">
                        <div class="col">
                          <p style="text-align: left;margin-left: 5%;">{{p.Hang}}</p>
                        </div>
                      </div>
                      <hr class="hr_style">
                      <div class="row" style="align-items: center">
                        <div class="col-2">
                          <img class="img-order" src="./assets/Img/sanpham/{{p.Hinhanh[0]}}" alt="">
                        </div>
                        <div class="col information" style="padding-left: 20px;">
                          <p>{{p.TenSP}}</p>
                          <p>Số lượng: {{order.orderItems[j].qty}} </p>
                        </div>
                        <div class="col price">
                          <ng-container *ngIf=""> chờ cái Discount </ng-container>
                        </div>
                      </div>
                      <hr class="hrr__style">
                    </ng-container>
                    <ng-container></ng-container>
                    <div class="row total__bill">
                      <p>Tổng số tiền: <span>{{order.total.toLocaleString('vi-VN')}}
                          <sup>đ</sup>
                        </span>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col"></div>
                      <!-- <div class="col"><button type="button" class="btn btn-view">Xem chi tiết đơn hàng</button></div> -->
                      <!-- <div class="col"><button type="button" (click)="updateOrder(order)" class="btn btn-view">Hủy đơn hàng</button></div> -->
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="inDelivering.length==0">
              <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
              <div class=" text-center chua-co-don-hang">
                <p>Chưa có đơn hàng nào đang giao</p>
              </div>
            </ng-container>
          </mat-tab>
          <mat-tab label="Đã giao">
            <!-- Đã giao -->
            <ng-container *ngIf="delivered.length>0">
              <div class="cover-order-container">
                <div class="order-container">
                  <ng-container *ngFor="let order of delivered;let i = index">
                    <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
                    <div class="row" style="padding: 8px;">
                      <div class="col">
                        Mã đơn hàng: {{order._id}} <br> <br>
                        Tên người nhận:{{ deliveredAddress[i]?.[0]?.hovaten}} <br>
                        Số điện thoại: {{ deliveredAddress[i]?.[0]?.phonenumber}}
                      </div>
                      <div class="col">
                        Địa chỉ: {{deliveredAddress[i]?.[0]?.diachicuthe}}
                        ,{{deliveredAddress[i]?.[0]?.ward}}
                        ,{{deliveredAddress[i]?.[0]?.district}}
                        ,{{deliveredAddress[i]?.[0]?.city}}
                      </div>
                    </div>
                    <ng-container *ngFor="let p of deliveredDetails[i];let j = index">
                      <div class="row">
                        <div class="col">
                          <p style="text-align: left;margin-left: 5%;">{{p.Hang}}</p>
                        </div>
                      </div>
                      <hr class="hr_style">
                      <div class="row" style="align-items: center">
                        <div class="col-2">
                          <img class="img-order" src="./assets/Img/sanpham/{{p.Hinhanh[0]}}" alt="">
                        </div>
                        <div class="col information" style="padding-left: 20px;">
                          <p>{{p.TenSP}}</p>
                          <p>Số lượng: {{order.orderItems[j].qty}} </p>
                          <div>
                            <button type="button" class="btn btn-view btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="showEvaluate(p)">Đánh giá</button>
                          </div>
                        </div>

                        <div class="col price">
                          <ng-container *ngIf=""> chờ cái Discount </ng-container>
                        </div>
                      </div>

                      <hr class="hrr__style">
                    </ng-container>
                    <ng-container></ng-container>
                    <div class="row total__bill">
                      <p>Tổng số tiền: <span>{{order.total.toLocaleString('vi-VN')}}
                          <sup>đ</sup>
                        </span>
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf=" delivered.length==0">
              <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
              <div class=" text-center chua-co-don-hang">
                <p>Chưa có đơn hàng nào đã giao</p>
              </div>
            </ng-container>
          </mat-tab>
          <mat-tab label="Đã hủy">
            <!-- Đã hủy -->
            <ng-container *ngIf="cancelled.length>0">
              <div class="cover-order-container">
                <div class="order-container">
                  <ng-container *ngFor="let order of cancelled;let i = index">
                    <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
                    <div class="row" style="padding: 8px;">
                      <div class="col">
                        Mã đơn hàng: {{order._id}} <br> <br>
                        Tên người nhận:{{ cancelledAddress[i]?.[0]?.hovaten}} <br>
                        Số điện thoại: {{ cancelledAddress[i]?.[0]?.phonenumber}}
                      </div>
                      <div class="col">
                        Địa chỉ: {{cancelledAddress[i]?.[0]?.diachicuthe}}
                        ,{{cancelledAddress[i]?.[0]?.ward}}
                        ,{{cancelledAddress[i]?.[0]?.district}}
                        ,{{cancelledAddress[i]?.[0]?.city}}
                      </div>
                    </div>
                    <ng-container *ngFor="let p of cancelledDetails[i];let j = index">
                      <div class="row">
                        <div class="col">
                          <p style="text-align: left;margin-left: 5%;">{{p.Hang}}</p>
                        </div>
                      </div>
                      <hr class="hr_style">
                      <div class="row" style="align-items: center">
                        <div class="col-2">
                          <img class="img-order" src="./assets/Img/sanpham/{{p.Hinhanh[0]}}" alt="">
                        </div>
                        <div class="col information" style="padding-left: 20px;">
                          <p>{{p.TenSP}}</p>
                          <p>Số lượng: {{order.orderItems[j].qty}} </p>
                        </div>
                        <div class="col price">
                          <ng-container *ngIf=""> chờ cái Discount </ng-container>
                        </div>
                      </div>
                      <hr class="hrr__style">
                    </ng-container>
                    <ng-container></ng-container>
                    <div class="row total__bill">
                      <p>Tổng số tiền: <span>{{order.total.toLocaleString('vi-VN')}}
                          <sup>đ</sup>
                        </span>
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="cancelled.length==0">
              <hr style="border:1px solid rgb(20, 19, 19);margin-top: 20px;margin-left: 5px; background-color: black;">
              <div class=" text-center chua-co-don-hang">
                <p>Bạn chưa hủy đơn hàng nào</p>
              </div>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!--  -->
      <div class="body__container--thongbao" [class.activate]="myNotification">
        <!--  -->
        <!-- Thông báo -->
        <div class="row top-1">
          <p>Đánh dấu đã đọc tất cả</p>
          <hr class="style_hr">
        </div>
        <div class="row dong1">
          <div class="col-2 dong1-image1">
            <img class="image1" src="./assets/Img/sanpham/gap01/gap01_1.webp" alt="">
          </div>
          <div class="col-6 don-hang-dong1">
            <p>
              <span style="font-weight: bold;"> Giao kiện hàng thành công</span>
              <br> Đơn hàng #000001 đã giao thành công đến bạn <br> 16:02 11-12-2022
            </p>
          </div>
          <div class="col">
            <button type="button" class="btn btn-viewdetail">Xem chi tiết đơn hàng</button>
          </div>
        </div>
        <!-- sp dòng 2 -->
        <div class="row dong2">
          <div class="col-2 dong2-image1">
            <img class="image1" src="./assets/Img/sanpham/gap01/gap01_1.webp" alt="">
          </div>
          <div class="col-6 don-hang-dong2">
            <p>
              <span style="font-weight: bold;"> Bạn có kiện hàng đang trên đường giao</span>
              <br> Đơn hàng #000001 vẫn đang trên đường vận chuyển và dự kiến được giao trong 1-2 ngày tới. Vui lòng bỏ qua thông báo này nếu bạn đã nhận được đơn hàng nhé! :( <br> 16:02 11-12-2022
            </p>
          </div>
          <div class="col">
            <button type="button" class="btn btn-viewdetail">Xem chi tiết</button>
          </div>
        </div>
        <!-- sp dòng 3 -->
        <div class="row dong3">
          <div class="col-2 dong1-image1">
            <img class="image1" src="./assets/Img/sanpham/gap01/gap01_1.webp" alt="">
          </div>
          <div class="col-6 don-hang-dong1">
            <p>
              <span style="font-weight: bold;"> Thanh toán thành công</span>
              <br> Đơn hàng #000001 đã thanh toán thành công đến bạn <br> 16:02 11-12-2022
            </p>
          </div>
          <div class="col">
            <button type="button" class="btn btn-viewdetail">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <!-- Kho voucher của user -->
      <div class="row voucher-container" [class.activate]="myDiscount">
        <div class="voucher col-4">
          <div class="row voucher-header">
            <img src="./assets/Img/Voucher/coupon.png" alt="voucher" width="100%" height="100%">
          </div>
          <div class="row voucher-body">
            <h4>Mã giảm giá: ABC123</h4>
            <p>Giảm giá 10% cho đơn hàng trên 500.000đ</p>
            <p>Hạn sử dụng: 31/12/2023</p>
          </div>
          <div class="row  text-center">
            <button class=" voucher-button">Apply code</button>
          </div>
        </div>
      </div>


      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  ">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Đánh giá sản phẩm</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form >
              <div class="modal-body">
                <h2 style="margin-bottom: 30px">Hãy đánh giá sản phẩm {{productEvaluate.TenSP}}</h2>
                <form action="#" method="get">
                  <div class="mb-3">
                    <select [(ngModel)]="selectedRating" [ngModelOptions]="{standalone: true}"
                      class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option selected >
                        <b>Đánh giá của bạn *</b>
                      </option>
                      <option value="Tuyệt vời">Tuyệt vời</option>
                      <option value="Tốt">Tốt</option>
                      <option value="Hài Lòng">Hài Lòng</option>
                      <option value="Không Hài Lòng">Không Hài Lòng</option>
                    </select>
                  </div>
                  <div class="mb-3 form-floating">
                    <textarea  [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nhận xét của bạn *" id="nhanxet" style="height: 200px"></textarea>
                    <label for="nhanxet">
                      <b>Nhận xét của bạn *</b>
                    </label>
                  </div>
                  <!-- </div> -->
                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal" (click)="sendEvaluate()" >Gửi đi</button>
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
