<nav aria-label="breadcrumb ">
          <ol class="breadcrumb w-100">
            <li class="breadcrumb-item"><a routerLink="/IntroPage">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chính sách thanh toán </li>
          </ol>
        </nav>

      <div class="container-fluid ">
        <div class="row">
          <div class="col-4 ">
            <div class=" col__left">
              <h3 class="col__left--title "> DANH MỤC TRANG </h3>
              <div class="col__left--list">
                <a routerLink="/IntroPage">Giới thiệu  </a> <br>
                <a routerLink="/COD" target="_self">Chính sách thanh toán </a> <br>
                <a routerLink="/PrivacyPolicy">Chính sách bảo mật  </a> <br>
                <a routerLink="/ContactPage" target="_self">Liên hệ  </a> <br>
              </div>
              <img class="w-100" src="./assets/Img/Gap-Logo.webp" alt="">
            </div>

          </div>

          <div class="col-8 col__right">
            <h1> Thanh Toán Khi Nhận Hàng (COD)</h1> <br>
             <div>Thanh toán khi giao hàng (COD) là một dịch vụ tại GAP 2002 được cung cấp cho khách hàng của chúng tôi ở các tỉnh thành trong Việt Nam, có nghĩa là trả tiền khi nhân viên vận chuyển giao hàng đến khách hàng, để khách hàng của chúng tôi tận hưởng dịch vụ tốt hơn.</div>
            <br>
              <ol class="cod">
                 <li> Đặt hàng </li>
               <b> <div>Điều kiện khi đặt hàng</div></b>
             <div>Tổng tiền của đơn đặt hàng không được vượt quá 500.000 VNĐ.</div>
             <div>Địa chỉ giao hàng và số điện thoại di động chính xác là cần thiết.</div>
             <div>Không cần chịu phí COD .</div>
             <div> <b>Xác minh SMS</b> </div>
             <div>Đơn đặt hàng được xác nhận sau khi bạn nhập mã xác minh từ tin nhắn được gửi tới điện thoại di động của bạn và mã có hiểu lực trong 30 phút.</div>
             <div>Do bất thường của nhà mạng Mobifone, dịch vụ COD tạm thời không thể sử dụng.Để đảm bảo đơn đặt hàng của bạn được thanh toán bình thường , vui lòng chọn cách thanh toán bằng thẻ hoặc thay thế một nhà mạng khác để nhận được mã xác nhận, cám ơn bạn.</div>
             <div><b>Hủy đơn hàng</b></div>
             <div>Bạn có thể hủy đơn đặt hàng từ 10 phút đến 6 giờ sau khi xác nhận. Nếu không thành công, thì có nghĩa là đơn đặt hàng đã được xử lý để giao hàng. Trong trường hợp này, vui lòng liên hệ với nhân viên dịch vụ khách hàng để thử lại.</div>
                  <br>
              <li>Vận Chuyển & Giao Hàng </li>
              <div> <b> Vận chuyển </b></div>
              <div>Các đơn hàng đặt trên GAP 2002 sẽ được vận chuyển bằng cty vận chuyển khác nhau,vui lòng tham khảo chi tiết thời gian vận chuyển. Sự chậm trễ đặt biệt có thể xảy ra do những trường hợp đặt biệt. Chúng tôi sẽ cố gắng hết sức để vận chuyển và giao hàng cho bạn trong thời gian sớm nhất. </div>
              <div> <b>Giao hàng</b> </div>
              <div> Nhân viên vận chuyển sẽ giao hàng cho bạn tại địa chỉ của bạn và nhận tiền đặt hàng thay vì chúng tôi. Vui lòng chuẩn bị trước đúng số tiền và đảm bảo điện thoại di động của bạn không bị khóa để nhân viên vận chuyển có thể liên lạc với bạn. </div>
                  <br>
              <li> Trả Hàng & Hoàn Tiền</li>
              <div>  Do là sản phẩm second-hand nên GAP 2002 đảm bảo chất lượng đơn hàng cho khách hàng nên việc đổi trả chỉ xảy ra khi đơn hàng bị lỗi do đơn vị vận chuyển hay sản phẩm sai khác với hình ảnh mà khách hàng thấy trên web. Nếu như khách hàng thanh toán bằng ví điện tử hoặc momo thì số tiền sẽ được hoàn lại ngay khi khách hàng gửi trả đơn hàng về tới cửa hàng.</div> <br>

            </ol>




          </div>
        </div>
    </div>
