<!-- Giỏ hàng trống -->
<ng-container ></ng-container>



<!-- Có sản phẩm trong giỏ hàng  -->
<div class="body" style=" background-color: #efefef;" *ngIf="cartProduct.length > 0">
<!-- <div class="body" style=" background-color: #efefef;" > -->
  <div>
    <div class="row text-center">
      <div class="col ">
      <h1 class= "text-left cart__header">Giỏ hàng của bạn </h1>
      <p> Có <span class="sosanpham" id="sosanpham">{{cartItemCount}} sản phẩm</span>  trong giỏ hàng</p>
      <div class="bar"></div>
    </div>
    </div>


    <div class="row cart__container" >


    <div class="col-6" id="cart__item__container">
      <div class="row box" style="height: 60px;">
          <div class="col-8" style="margin: 10px 0 0 30px; width: 50px;">
            <mat-checkbox
            [checked]="allComplete"
            [indeterminate]="someComplete()"
            (change)="setAll($event.checked)"
            >
           </mat-checkbox>
          </div>
          <div class="col-6 cart__item--top" style="width: 40%; text-align: left;">Sản phẩm</div>
          <div class="col cart__item--top">Đơn giá</div>
          <div class="col cart__item--top">Số lượng</div>
          <div class="col cart__item--top">Số tiền</div>
          <div class="col cart__item--top">Thao tác</div>
      </div>


      <!-- hiển thị sản phẩm đc thêm -->
      <ng-container *ngFor="let b of brands">
        <div class=" row box cart__item">
          <div class="section">
            <div class="example-list-section">
              <mat-checkbox
                class="margin"
                [checked]="isBrandComplete(b)"
                [indeterminate]="isBrandIndeterminate(b)"
                (change)="setBrandAll($event.checked,b)"
              >
                <b>{{b}}</b>
              </mat-checkbox>
            </div>
            <div class="example-list-section">
              <div class="brand">
                <ng-container *ngFor="let c of cartProduct">
                  <div *ngIf="c.Hang == b" class="row center">

                    <div class="col-8" style="margin: 10px 0 0 30px; width: 50px;"><mat-checkbox
                      [(ngModel)]="c.completed"
                      (ngModelChange)="updateAllComplete()"
                    >
                    </mat-checkbox></div>
                    <div class="col-6 cart__item--top row" style="width: 42%; text-align: left;">
                      <div class="col">
                        <a (click)="Detail(c)"><img  src="./assets/Img/sanpham/{{c.Hinhanh[0]}}" alt=""></a>
                      </div>
                      <div class="col-8">
                        <div class="item-name">
                          <a style="color: rgb(0, 0, 0);" (click)="Detail(c)">{{c.TenSP}}</a>
                        </div>
                        <div class="item-size">
                          Kích thước: {{c.Size}}
                        </div>
                      </div>
                    </div>
                    <div class="col cart__item--top">{{c.price.toLocaleString('vi-VN')}}<u style="font-size: 1.2rem;">đ</u></div>
                    <div class="col cart__item--top ">
                      <div class=" row button-added">
                        <span class='header__cart-item-minus is-form minus col' (click)="MinusP(c)"><i class='fa-solid fa-minus' ></i></span>
                        <input type='number' min='1' name='header__cart-item-amountheader__cart-item-amount' class='header__cart-item-amount col input-qty' value="{{c.quantity}}">
                        <span class='header__cart-item-plus is-form col plus' (click)="PlusP(c)"><i class='fa-solid fa-plus'></i></span>
                      </div>
                    </div>
                    <div class="col cart__item--top"><b>{{c.total.toLocaleString('vi-VN')}}<u style="font-size: 1.2rem;">đ</u></b></div>
                    <a class="col cart__item--top" (click)="deleteP(c)">Xóa</a>
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Hiển thị thông tin tổng đơn hàng -->
    <div class="col-xg-6 col-4 cart-info__container"  >
      <div class="borderbox order-infor">
        <h2 class="title" style="margin-bottom: 30px">Thông tin đơn hàng </h2>
        <hr>
         <div style="margin: 20px 0"  class="container row">
            <div class="col-4"> Tổng tiền: </div>
            <h4 class="col-8 sotien" id="sotien">{{pay.toLocaleString('vi-VN')}}<u>đ</u></h4>
         </div>
        <hr>
        <div class="col" style="margin: 20px 0">
          <p>Phí vận chuyển sẽ được tính ở trang thanh toán.</p>
          <p>Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.</p></div> <br>
        <button class=" col-10 button thanhtoan text-center" style="align-items: center;" routerLink="/DeliveryInfor" (click)="createOrder()"> THANH TOÁN </button> <br>
        <div class="col buy-btn" >
           <a routerLink="/trangsp"  class=""> Tiếp tục mua hàng </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div  class="body" *ngIf="cartProduct.length==0"  >
  <div class="row text-center" >
    <div class="row text-center" >
    <img src="./assets/Img/cart-empty.png" alt="" class="cart-empty" style="width: 10%;">
    <p class="text-empty">Giỏ hàng của bạn trống</p>
    <button class="muangay" routerLink="/" > MUA NGAY</button>
  </div>
</div>





