:root {
  --darkpink: #b8a898;
  --lightpink: #d2beb4;
  --darkbrown: #6B4932;
  --black: black;
  --white: #ffffff;
  --grey: #ADA9A9;
}
.body{
  margin: 92px 0;
  padding: 20px 0 20px 0;
  overflow-x: hidden;
  background-color: #efefef;
}
.text-left{
  font-weight: 700;
  font-size: 3rem;
  color: var(--darkbrown);
}
.title{
  color: var(--darkbrown);
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem;
}
*{
  font-size: 1.6rem;
}
ul li{
  list-style: none;
}
.sosanpham{
  color: var(--darkpink);
  font-weight: bold;
}
.sotien{
  color: red;
  font-weight: bold;
  text-align: right;
}
.thanhtoan{
  background-color: initial;
  font-weight: bold;
  margin-left: auto;
  border: 1px solid  var(--darkbrown);
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.thanhtoan:hover{
  background-color: var(--darkbrown);
  color: var(--white);
}
.thanhtoan:active{
  opacity: 0.7;
  background-color: var(--darkpink);
}
a{
  text-decoration: none;
}

.thanhtoan a{
  text-decoration: none;
  color: #000000;
}
.thanhtoan a:hover{
  color: #ffffff;
}
.buy-btn{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.order-infor{

  display: flex   ;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.bar{
  width: 70px;
  height: 0%;
  margin:auto;
  padding: auto;
  background-color: var(--darkpink);
  border: 2px solid var(--darkpink);
}
.borderbox{
  border: var(--grey) solid 1px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.box{
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cart__item{
  margin-top: 5px;
}

.row{
  justify-content: center;
}
.cart__container{
  margin-top: 40px;
}
.cart__item--top{
  margin-top: 17px;
  font-size: 1.6rem;
}
.cart-info__container{
  max-width: 450px;
}
@media (max-width: 1023px) and (min-width: 740px) {
  .body{
      margin-top: 128px;
  }

}

/*mobile*/
@media (max-width: 740px) {
  .body{
      margin-top: 128px;
  }
}
