<div class="body">
  <div class="row text-center">
    <div class="col ">
   <h1 class= "text-left cart__header">Giỏ hàng của bạn </h1>
    <p> Có <span class="sosanpham" id="sosanpham">0 sản phẩm</span>  trong giỏ hàng</p>
    <div class="bar"></div>
  </div>
  </div>
  <div class="row cart__container" >
  <div class="col-6 row" id="cart__item__container">

  </div>
  <div class="col-6 cart-info__container"  >
    <div class="borderbox order-infor">
      <h2 class="title" style="margin-bottom: 30px">Thông tin đơn hàng </h2>
      <hr>
       <div style="margin: 20px 0"  class="container row">
          <div class="col-4"> Tổng tiền: </div>
          <h4 class="col-8 sotien" id="sotien">0<u>đ</u></h4>
       </div>
      <hr>
      <div class="col" style="margin: 20px 0">
        <p>Phí vận chuyển sẽ được tính ở trang thanh toán.</p>
        <p>Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.</p></div> <br>
      <div class=" col-10 button thanhtoan text-center" style="align-items: center;" ><a href="./thanhtoan.html"> THANH TOÁN </a></div> <br>
      <div class="col buy-btn" >
        <!-- <iconify-icon class="text-right " icon="ion:return-up-back-sharp" width="25" height="25" ></iconify-icon> -->
         <a href="./trangsp.html"  class=""> Tiếp tục mua hàng </a>
      </div>
    </div>
  </div>
  </div>

</div>
