<nav aria-label="breadcrumb ">
  <ol class="breadcrumb ">
    <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page" >Trang Khuyến Mãi</li>
  </ol>
</nav>
<div class="banner">
  <img class="w-100" src="./assets/Img/4.png" alt="">
</div>

<div>
  <mat-accordion >
    <mat-expansion-panel style="padding: 0 5% 0 5%;">
      <mat-expansion-panel-header>
        <mat-panel-title class="info">THÔNG TIN VỀ CHƯƠNG TRÌNH </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="description"></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="voucher-hot__header col-4">
  <img class="w-100" src="./assets/Img/Voucher/VOUCHER1.png" alt="">
</div>

<div class=" row container w-100">
  <a class="col-1" style="display: flex;align-items: center;" [ngClass]="{'disabled':numPage==1}"  (click)="prevPage()"   >
    <mat-icon>navigate_before</mat-icon>
  </a>
  <div class="col-10 row ">
    <ng-container *ngFor="let c of displayedCoupons" >
      <div class=" col-3 voucher">
        <div class="row voucher-header">
          <img src="./assets/Img/Voucher/coupon.png" alt="voucher" >
        </div>
        <div class="row voucher-body">
          <h4>Mã giảm giá: {{c.TenCoupon}}</h4>
          <p [innerHTML]="c.Noidung" ></p>
          <p>Hạn sử dụng:</p>
          <p> {{c.Ngaybatdau | date: 'dd/MM/yyyy'}} - {{c.Ngayketthuc | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="row  text-center">
          <button class=" voucher-button">Lưu</button>
        </div>
      </div>
    </ng-container>
  </div>
  <a class="col-1"  style="display: flex;align-items: center;justify-content: flex-end;" [ngClass]="{'disabled':numPage==page}" (click)="nextPage()">
    <mat-icon>navigate_next</mat-icon>
  </a>
</div>

<div class="countDown-container">
  <h1>SẮP DIỄN RA:</h1>
  <div class="row">
      <div class="col-lg-1 col-md-2 col-2 countDown-time-container">
          <div class="countDown-time">
            {{ days }}
          </div>
          <h3>Ngày</h3>
      </div>
      <div class="col-lg-1 col-md-2 col-2 countDown-time-container">
          <div class="countDown-time">
            {{ hours }}
          </div>
          <h3>Giờ</h3>
      </div>
      <div class="col-lg-1 col-md-2 col-2 countDown-time-container">
          <div class="countDown-time">
            {{ minutes }}
          </div>
          <h3>Phút</h3>
      </div>
      <div class="col-lg-1 col-md-2 col-2 countDown-time-container">
          <div class="countDown-time">
            {{ seconds }}
          </div>
          <h3>Giây</h3>
      </div>
  </div>
</div>
<div class="salesProduct-container container">
  <div class="salesProduct-header col-4">
      <img class="w-100" src="./assets/Img/Voucher/VOUCHER3.png" alt="">
  </div>
  <div id="salesProduct" class="row ">
    <div class="col-xl-2 col-lg-3 col-4 product"  *ngFor="let p of  promotionProduct">
      <button class="home-product-item w-100"  name="maSp" id="{{p.MaSP}}" value="{{p.MaSP}}" (click)="Detail(p)">
        <!-- <div class="home-product-item__img" style="background-image: url('./assets/Img/sanpham/{{ p.Hinhanh[0] }}')"></div> -->
        <div class="home-product-item__img" style="background-image: url('{{ p.Hinhanh[0] }}');"></div>
        <h4 class="home-product-item__name">{{p.TenSP}}</h4>
        <div *ngIf="p.Discount==0">
          <div class="home-product-item__price">
            <span class="home-product-item__price-no-discount">{{p.Price.toLocaleString('vi-VN') }}đ</span>
          </div>
        </div>
        <div *ngIf="p.Discount > 0">
          <div class="home-product-item__price">
            <span class="home-product-item__price-current">{{(p.Price - p.Discount*p.Price/100).toLocaleString('vi-VN') }}đ</span>
            <span class="home-product-item__price-old">{{p.Price.toLocaleString('vi-VN') }}đ</span>
          </div>
        </div>
        <div class="home-product-item__action">
          <span class="home-product-item__like home-product-item__like--liked">
            <i class="home-product-item__like-icon-emty fa-regular fa-heart"></i>
            <i class="home-product-item__like-icon-fil fa-solid fa-heart"></i>
          </span>
        </div>
        <div class="home-product-item__origin">
          <div class="home-product-item__grand">{{p.Hang}}</div>
            <!-- <div class="home-product-item__origin-name">Nhật bản</div> -->
        </div>
        <!-- <div class="home-product-item__favor">
          <i class="fa-solid fa-check"></i>
          <span>Yêu thích</span>
        </div> -->
        <div *ngIf="p.Discount > 0">
          <div class="home-product-item__sale-off">
            <div class="home-product-item__sale-off-percent">{{p.Discount}}%</div>
            <div class="home-product-item__sale-off-label">GIẢM</div>
          </div>
        </div>
      </button>
    </div>
  </div>

</div>
