<div class="blog w-100">
  <div class="row top">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb  w-100 ">
        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
      </ol>
      </nav>
  </div>
  <div class="row bottom">
    <div class="col-4 text-center container ">
      <p style="font-size: 20px;font-weight:bold;color:#6B4932;
      ">BÀI VIẾT MỚI NHẤT</p>
      <hr class="hr__style">
      <div class="row">
        <div class="col-3 img--blog">
          <a routerLink="/BlogDetail"><img class="img__blog" src="./assets/Img/img_blog.png" alt=""></a>

        </div>
        <div class="col"><p style="text-align: left;"><a routerLink="/BlogDetail" class="brown">Lợi ích của quần áo cũ đem lại</a> <br> Võ Thị Nhung <br>05.11.2023</p></div>
        <hr class="hr_style">
      </div>
      </div>
      <div class="col ">
        <p style="font-size: 2.4rem;font-weight:bold;color:#6B4932;">Tin tức</p>
        <div class="row">
          <div class="col-4">
            <a routerLink="/BlogDetail"><img class="img__blog" src="./assets/Img/img_blog.png" alt=""></a>

          </div>
          <div class="col"><p><a routerLink="/BlogDetail" class="brown">Lợi ích của quần áo cũ đem lại </a><br>
            Người viết: Võ Thị Nhung <br>
            05.11.2023 <br>
            Đây là trang blog của cửa hàng. Bạn có thể dùng blog để quảng bá sản phẩm mới, chia sẻ trải nghiệm của khách hàng,...
            </p></div>
          </div>
      </div>

  </div>

</div>
