

 <div style="background-color: white; font-size: 16px;" >
  <div align="center" style="padding-top: 30px;">  <img src="\assets\Img\error-icon.jpg"  width="50px" height="50px" alt=""> </div> <br>
 <div style="text-align: center; font-weight: bold; font-size: x-large; margin-top: -20px;"> Thông báo</div>
 <div style="text-align: center; margin-top: 10px;">Bạn đã chắc chắn muốn xóa ?</div>
 <div style="padding-top: 5px; padding-bottom: 40px;" align="center">
 <button mat-button (click)="onNoClick()" style="margin-right: 40px;">Không</button>
 <button mat-button (click)="onYesClick()">Có</button>
</div>
 </div>
