<div class="body">
  <nav aria-label="breadcrumb ">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="./trangchu.html">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản Phẩm</li>
      </ol>
  </nav>
  <div class="container-fluid ">
      <div class="row">
          <div class="col-3 ">
              <div class=" col__left">
                  <ul>
                      <li class="category_list">
                          <a>Sản phẩm - </a>
                          <ul>
                              <li class="category_item"><button class="type_category">Váy -</button></li>
                              <li class="category_item"><button class="type_category">Áo -</button></li>
                              <li class="category_item"><button class="type_category">Phụ kiện -</button></li>
                              <li class="category_item"><button class="type_category">Quần -</button></li>
                          </ul>
                      </li>
                      <li class="category_list">
                          <a>Thương hiệu - </a>
                          <ul>
                              <!-- <li class="category_item"><input  class="brand_category" value="SHEIN" type="checkbox" ><span class="checkbox_label">SHEIN -</span></input></li>
                              <li class="category_item"><input  class="brand_category" value="ZARA" type="checkbox" ><span class="checkbox_label">ZARA -</span></input></li>
                              <li class="category_item"><input  class="brand_category" value="H&M" type="checkbox" ><span class="checkbox_label">H&M -</span></input></li>
                              <li class="category_item"><input  class="brand_category" value="ELGE" type="checkbox" ><span class="checkbox_label">ELGE -</span></input></li>
                              <li class="category_item"><input  class="brand_category" value="JUNO" type="checkbox" ><span class="checkbox_label">JUNO -</span></input></li>
                              <li class="category_item"><input  class="brand_category" value="LABB" type="checkbox" ><span class="checkbox_label">LABB -</span></input></li>
                              <li class="category_item"><input  class="brand_category" value="MWC" type="checkbox" ><span class="checkbox_label">MWC -</span></input></li> -->
                          </ul>
                      </li>
                      <li class="category_list">
                          <a>Giá sản phẩm - </a>
                          <ul>
                              <!-- <li class="category_item"><input  class="price_category" value="100000" type="checkbox" ><span class="checkbox_label">Dưới 100.000<u>đ</u> -</span></input></li>
                              <li class="category_item"><input  class="price_category" value="200000" type="checkbox" ><span class="checkbox_label">100.000<u>đ</u> - 200.000<u>đ</u> -</span></input></li>
                              <li class="category_item"><input  class="price_category" value="300000" type="checkbox" ><span class="checkbox_label">200.000<u>đ</u> - 300.000<u>đ</u> -</span></input></li>
                              <li class="category_item"><input  class="price_category" value="400000" type="checkbox" ><span class="checkbox_label">300.000<u>đ</u> - 400.000<u>đ</u> -</span></input></li> -->
                          </ul>
                      </li>
                      <li class="btn_list_container">
                          <button id="btn_list" >Lọc sản phẩm</button>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-9">
              <div class="col_right">
                  <div class="product__container">
                      <div class="product__container__header">
                          <h3 id="Product__header-title" class="category_item"><button id="all-product">Tất cả sản phẩm</button></h3>
                      </div>
                      <div class="container home-product-item-wrapper">
                          <form id="showSP" action="./chitietsp.html" method="get">
                              <div class="row" id="total_product"></div>
                              <!-- <div class="row product-not-found">
                                  fadf
                              </div> -->
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
