:root {
  --darkpink: #b8a898;
  --lightpink: #e0d4ce;
  --darkbrown: #6B4932;
  --black: black;
  --white: #ffffff;
  --green: rgb(82, 155, 115);
}

.head{
  font-size: 1.6rem;
}
.dk{
  font-size: 3rem;
  font-weight: bold;
  color: var(--darkbrown);
  padding-bottom: 15px;
}
.hide{
  border: none;
  background-color: var(--lightpink);
}
.register{
  padding: 20px 0 20px;
  overflow: hidden;
  margin-top: 92px;
}
.form{
  width: 30%;
  /* background-color: #6B4932; */
  margin: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-content{
  padding-top: 10px;
  width: 100%;
}

.exemple-form-field{
  width: 100%;
}

.btn-dangky{
  background-color: initial;
  font-weight: 500;
  margin-left: auto;
  border: 1px solid  var(--darkbrown);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  width: 200px;
}
.btn-dangky:hover{
  background-color: var(--darkbrown);
  color: var(--white);
}
.btn-dangky:active{
  opacity: 0.7;
  background-color: var(--darkpink);
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--lightpink);
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--darkbrown);
}
.mat-mdc-radio-button .mdc-form-field {
  color: var(--mdc-theme-text-primary-on-background, rgb(0, 0, 0));
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #fff;
  --mdc-radio-disabled-unselected-icon-color: #fff;
  --mdc-radio-unselected-focus-icon-color: #eeeeee;
  --mdc-radio-unselected-hover-icon-color: #eeeeee;
  --mdc-radio-unselected-icon-color:var(--lightpink);
  --mdc-radio-unselected-pressed-icon-color: var(--darkbrown);
  --mdc-radio-selected-focus-icon-color: var(--darkbrown);
  --mdc-radio-selected-hover-icon-color:var(--darkbrown);
  --mdc-radio-selected-icon-color:var(--darkbrown);
  --mdc-radio-selected-pressed-icon-color:var(--darkbrown);
  --mat-mdc-radio-ripple-color: var(--black);
  --mat-mdc-radio-checked-ripple-color:var(--darkbrown);
}

.mat-datepicker-content {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--lightpink);
  color: var(--darkbrown);
}
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  color: var(--darkbrown);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--black);
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: var(--darkbrown);
}
.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-primary, var(--darkbrown));
}
.mdc-text-field .mdc-text-field__input {
  caret-color: var(--mdc-theme-primary, var(--black));
}
@media (max-width: 1023px) and (min-width: 740px) {
  .blog{
      margin-top: 128px;
  }
}

/*mobile*/
@media (max-width: 740px) {
  .blog{
      margin-top: 128px;
  }
}
